* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  user-select: none;
}

html, body {
  overflow: hidden;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #fefeff;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 16px/1.4;
}

body {
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(8, 5, 16);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


h1 {
  font-size: 1.9em;
  letter-spacing: 0.35em;
}

h2 {
  font-size: 0.9em;
  letter-spacing: 0.5em;
}

html, body, #h3, #h4, #h5 {
  font-size: 0.7em/1.4;
  letter-spacing: 0.2em;
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1 {
    font-size: 2.75em;
    letter-spacing: 0.35em;
  }

  h2 {
    font-size: 1.45em;
    letter-spacing: 0.5em;
  }

  #h3, #h4, #h5 {
    font-size: 0.85em;
    line-height: 1.4;
    letter-spacing: 0.2em;
  }
}


h1 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  text-shadow: 0 0 25px rgba(254, 254, 255, 0.85);
}

h2 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  text-shadow: 0 0 25px rgba(254, 254, 255, 0.85);
  text-transform: lowercase;
}

[class^="letter"] {
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  transition: opacity 3s ease;
}

$letter-count: 40;
$letter-delay-steps: 0.2;
$letters: null;
@for $i from 0 through $letter-count {
  $delay: $letter-delay-steps + $letter-delay-steps * $i;

  .letter-#{$i} {
    transition-delay: #{$delay}s;
  }

  $letters: append($letters, unquote(".letter-#{$i}"), comma);
}

#{$letters} {
  //append style to all classes
}

h1, h2 {
  visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

h1.transition-in,
h2.transition-in,
h1.transition-out,
h2.transition-out {
  visibility: visible;
}

h1 [class^="letter"],
h2 [class^="letter"] {
  opacity: 0;
}

h1.transition-in [class^="letter"],
h2.transition-in [class^="letter"] {
  opacity: 1;
}

h1.transition-out [class^="letter"],
h2.transition-out [class^="letter"] {
  opacity: 0;
}

#h3, #h4, #h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-shadow: none;
}

#h5 {
  letter-spacing: .1em;
  visibility: visible;
  margin-top: 50px;
  opacity: 0;
  transition-delay: 0.4s;
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  transition: opacity 3s ease;
}

#h5.visible {
  opacity: 1;
}

#h5 .links a {
  margin: 10px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#h5 .links a:hover {
  opacity: 1;
}

#container {
  display: table;
  position: absolute;
  //z-index: 20;
  width: 100%;
  height: 100%;
  text-align: center;
  //cursor: none;
  padding: 10px;
}

#container > div {
  display: table-cell;
  vertical-align: middle;
}

#container p {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: #76747a;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

#container p strong {
  color: #b3abc5;
}

#container p a {
  color: #b3abc5;
  text-decoration: none;
}

#container p span {
  font-size: 0.75em;
  padding: 0 2px;
}

#container p.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25px;
  font-size: 0.6em;
  opacity: 0.5;
}

#canvas {
  position: absolute;
  //z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //cursor: none;
}

@keyframes mouseClick {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: rgba(255, 255, 255, .5);
  }

  45% {
    -webkit-transform: rotateX(15deg);
    transform: rotateX(15deg);
    background: rgba(255, 255, 255, .7);
  }

  65%, 100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: rgba(255, 255, 255, .5);
  }
}

@-webkit-keyframes mouseClick {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: rgba(255, 255, 255, .5);
  }

  45% {
    -webkit-transform: rotateX(15deg);
    transform: rotateX(15deg);
    background: rgba(255, 255, 255, .7);
  }

  65%, 100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: rgba(255, 255, 255, .5);
  }
}

#mouse {
  position: absolute;
  border: none !important;
  overflow: visible;
  text-align: center;
  opacity: 1;
  height: auto;
  right: 30px;
  top: 10px;
  opacity: 1;
  transition: opacity .55s cubic-bezier(.5, .1, .07, 1);
}

#mouse.hidden {
  opacity: 0;
}

#mouse.off {
  visibility: hidden;
}

#mouse:before {
  position: absolute;
  content: '';
  display: block;
  left: 50%;
  margin-left: -1px;
  top: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 2px;
  height: 6px;
  border-radius: 10px;
}

#mouse:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 30px;
  height: 45px;
  margin-left: -15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 62;
}


#mouse i {
  position: absolute;
  width: 13px;
  left: -13px;
  height: 13px;
  top: 2px;
  border-top-left-radius: 30px;
  background: rgba(255, 255, 255, .5);
  -webkit-animation: mouseClick 2.4s cubic-bezier(.25, .46, .45, .94) infinite;
  animation: mouseClick 2.4s cubic-bezier(.25, .46, .45, .94) infinite;
}
